body{
    padding:0%;
    margin:0%;
    background-color: rgb(56, 143, 236);
}
.b{
width: cover;
display: flex;
align-items: center;
gap:12%;
background-color: rgb(21, 20, 20);
justify-content: center;
position: sticky;
padding:20px;
cursor: pointer;
color: rgb(242, 22, 15);
}
.b :hover{
    color: blue;
    background-size: cover;
}
#bak{
    width:80px;
    height: 20px;
    border-radius: 10px;
    background-color:#a2e5e381;
    color: #171717 ;
    font-size:15px;
    text-align: center;
    border: rgb(244, 157, 82) solid 3px; 
    position:absolute;
    right:1px;
    top:5px;
}